.container{
    max-width: 1450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    
    @media (max-width:1464px){
        max-width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    @media (max-width:850px){
        padding-left: 24px;
        padding-right: 24px;
    }
    @media (max-width:650px){
        padding-left: 12px;
        padding-right: 12px;
    }
}
